@import '../../index.scss';

    .nav{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        height: auto;
        width: 100px;
        backface-visibility: hidden;
    }
  .nav-burger {
    position: relative;
    background: $nav_background;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $ease_in_out;
    z-index: 1;
    &:hover {
      background: $nav_background_hover;
      
    }
  }
  .menu-open {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
  }
  .patty {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hamburger {
    position: absolute;
    top: 10px;
    width: 30px;
    height: 4px;
    background: white;
    transition: $ease_in_out;
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 4px;
      top: -10px;
      left: 0;
      background: white;
      transition: $ease_in_out;
    }
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 4px;
      top: -20px;
      left: 0;
      background: white;
      transition: $ease_in_out;
    }

  }
  .menu-open:checked + .patty {
    .hamburger {
      top: -5px;
      transform: rotate(-45deg);
      &:before {
        top: 0;
        width: 0;
      }
      &:after {
        top: 0;
        transform: rotate(90deg);
      }
    }
  }

  .nav-menu {
    position: relative;
    width: 100px;
    background: $nav_menu;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $ease_in_out;
    top: -500px;
    .nav-list {
      width: 100%;
      list-style: none;
      margin: 0 !important;
      .list-menu {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: $ease_in_out;
        &:hover {
          background: $nav_menu_hover;
        }
        .link-name {
          width: 100%;
          height: 100%;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: $ease_in_out;
          text-decoration: none;
          &:hover {
            color: black;
            font-weight: bolder;
          }
        }
      }
    }
  }

  .sidebar-open {
    top: 0;
    height: 50%;

  }

  

