.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 250px;
    border: 3px darkgrey solid;
    margin: 10px;
    padding: 10px 10px 40px 10px;
    background-color: rgb(67, 87, 99);
    color: white;

    h3{
        display: flex;
        justify-content: center;
        font-size:x-large;
        margin: 1rem;
    }
    label{
        display: flex;
        margin: 6px 0px;
        
        p{
            margin: 2px 10px;
            width: 5rem;
            font-weight: bold;

        }

        input{
            width: auto;
        }
    }

    .form__button{
        width: 100px;
        margin-top: 1rem;
        background-color: rgb(49, 52, 68);
        color: lightgray
    }

}