@import '../../index.scss';
.header-container{
    display: flex;
    justify-content: center;
    padding: 30px;
    height: 40px;
    width: 100vw;
    background-color: $nav_menu;
    color: white;

    
}