@import './components/Navbar/Navbar.scss';
@import './components/Header/Header.scss';


  .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  header{
    display: flex;

    Navbar{
      position: relative;
    }
  }

.register{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}