

$nav_background: #393e41;
$nav_background_hover: #d3d0cb;
$nav_menu: #393e41;
$nav_menu_hover: #d3d0cb;
$body: white;

$ease_in_out: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

* {
    padding: 0;
    margin: 0;
    height: auto;
    
}
html{
    height: 100%;
    width: 100%;
    background-color: $body;


    
}